 
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');

body {
   
}

 /*Navbar*/
 .navbar-inverse {
     background-color: #0b65a5;
     padding-top: 16px;
 }

 .navbar-inverse .navbar-nav > li > a {
     color: #f7eeee;
 }

 .navbar-inverse .navbar-nav > li {
     color: white;
     float: right;
 }

 .footer {
     color: aliceblue;
     background-color: #0060a5;
 }

 .footer .float {
     float: right;
 }
 /*Navbar*/


